<%
link_style = "hover:text-indigo-500"
%>
<div class="max-w-7xl mx-auto px-6 py-4 flex items-center justify-between">
  <!-- Logo -->
  <a href="/">
    <div
      class="text-2xl font-bold bg-gradient-to-r from-indigo-500 to-purple-500 bg-clip-text text-transparent"
    >
      MySite
    </div>
  </a>

  <!-- Desktop Menu -->
  <nav class="flex space-x-8 text-gray-700 font-medium">
    <%= link_to 'Top', admin_path, class: link_style %>
    <%= link_to 'Users', admin_users_path, class: link_style %>
    <%= link_to '商品', admin_products_path, class: link_style %>
    <% if admin_user_signed_in? %>
      <span class="<%= link_style %>"><%= current_admin_user.email %></span>
      <%= button_to 'Logout',
        destroy_admin_user_session_path,
        method: :delete,
        class: link_style,
        onclick: "return confirm('ログアウトしますか？');" %>
    <% else %>
      <%= link_to 'Login', new_admin_user_session_path, class: link_style %>
    <% end %>
  </nav>
</div>