<%= render "shared/message/error_messages", resource: user %>

<div class="my-3">
  <%= form.label :email %><br />
  <%= form.email_field :email, autofocus: true, autocomplete: "email", class: "app-form-input" %>
  <%= field_error(form, :email) %>
</div>

<div class="my-3">
  <%= form.label :password %>
  <% unless form.object.new_record? %>
    <div class="text-sm text-gray-500">空にすると更新されません。</div>
  <% end %>
  <%= form.password_field :password, autocomplete: "new-password", class: "app-form-input" %>
  <%= field_error(form, :password) %>
</div>

<div class="my-3">
  <%= form.label :password_confirmation %><br />
  <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "app-form-input" %>
  <%= field_error(form, :password_confirmation) %>
</div>
