<% breadcrumb :edit_admin_user, @user %>

<h2 class="app-h2">ユーザー変更</h2>

<%= form_with(model: @user, url: admin_user_path(@user), scope: :user) do |form| %>
  <%= render "form", form: form, user: @user %>

  <%= render "info", form: form, user: @user %>

  <div class="my-2">
    <%= form.submit "確定", class: "app-btn-primary w-40" %>
  </div>
<% end %>


<div class="mt-5">
  <%= link_to "一覧", admin_users_path, class: "app-link-normal" %>
</div>

<br>

  <%= button_to "削除", admin_user_path(@user), method: :delete,
    class: "app-btn-danger w-20 mt-10",
    form: { onsubmit: "return confirm('本当に削除しますか？');" } %>
