<div class="app-container-normal">
  <% breadcrumb :edit_admin_user, @user %>

  <h2 class="app-h2">ユーザー更新</h2>

  <div class="my-5 space-x-3">
    <%= link_to "ユーザーオーダー一覧", admin_user_orders_path(user_id: @user.id), class: "app-link-normal" %>
  </div>

  <%= form_with(model: @user, url: admin_user_path(@user), scope: :user) do |form| %>
    <%= render "form", form: form, user: @user %>

    <%= render "info", form: form, user: @user %>

    <div class="my-2">
      <%= form.submit "確定", class: "app-btn-primary w-40" %>
    </div>
  <% end %>


  <div class="mt-5">
    <%= link_to "一覧", admin_users_path, class: "app-link-normal" %>
  </div>

  <div class="mt-10">
    <% if @user.discarded? %>
      <%= button_to "復元", restore_admin_user_path(@user), method: :patch,
        class: "app-btn-secondary",
        form: { onsubmit: "return confirm('本当に復元しますか？');" } %>
    <% else %>
      <%= button_to "削除", admin_user_path(@user), method: :delete,
        class: "app-btn-danger",
        form: { onsubmit: "return confirm('本当に削除しますか？');" } %>
    <% end %>
  </div>
</div>
