<h2 class="app-h2">Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "shared/message/error_messages", resource: resource %>

  <div class="my-3">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "app-form-input" %>
  </div>

  <div class="my-3">
    <%= f.submit "Resend unlock instructions", class: "app-btn-primary" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
