<div class="app-table-container">
  <table class="app-table">
    <thead class="app-table-thead">
      <tr>
        <th class="app-table-th">ID</th>
        <th class="app-table-th">ユーザー</th>
        <th class="app-table-th">作成日時</th>
        <th class="app-table-th">削除日時</th>
        <th class="app-table-th">詳細</th>
      </tr>
    </thead>
    <tbody class="app-table-tbody">
      <% @user_orders.each do |user_order| %>
        <% info = @summary_service.summary_by_user_order(user_order) %>
        <tr class="transition
         <% if user_order.discarded? %>bg-gray-300 hover:bg-gray-200<% else %>hover:bg-gray-50<% end %>">
          <td class="app-table-td text-gray-700"><%= user_order.id %></td>
          <td class="app-table-td text-gray-700"><%= link_to user_order.user.email, edit_admin_user_path(user_order.user), class: "app-link-normal" %></td>
          <td class="app-table-td"><%= user_order.created_at.strftime("%Y-%m-%d %H:%M") %></td>
          <td class="app-table-td"><%= user_order.discarded_at ? user_order.discarded_at.strftime("%Y-%m-%d %H:%M") : '' %></td>
          <td class="app-table-td">
            <%= render "info", info: info %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>