<%= render "shared/message/error_messages", resource: product %>

<div class="my-3">
  <%= form.label :name, class: "app-form-label" %>
  <%= form.text_field :name, autofocus: true, autocomplete: "name", class: "app-form-input" %>
  <%= field_error(form, :name) %>
</div>

<div class="my-3">
  <%= form.label :price, class: "app-form-label" %>
  <%= form.text_field :price, autofocus: true, autocomplete: "price", class: "app-form-input" %>
  <%= field_error(form, :price) %>
</div>

<div class="my-3">
  <%= form.label :description, class: "app-form-label" %>
  <%= form.text_area :description, autofocus: true, autocomplete: "description", class: "app-form-input" %>
  <%= field_error(form, :description) %>
</div>

<div class="my-3">
  <%= form.label :image, class: "app-form-label" %>
  <%= form.file_field :image, class: "app-form-input" %>
  <%= field_error(form, :image) %>
  <% if @product.image.attached? %>
    <div>
      <div>@product.image.filename</div>
      <div><%= @product.image.content_type %></div>
      <div><%= image_tag @product.image, width: 200 %></div>
      <div>
        <%= check_box_tag :remove_image, "1" %>
        <%= label_tag :remove_image, "画像を削除" %>
      </div>
    </div>
  <% end %>
</div>