<!DOCTYPE html>
<html lang="ja">
  <head>
    <%= render 'layouts/shared/head' %>
  </head>

  <body class="bg-gradient-to-br from-indigo-100 via-white to-blue-100 min-h-screen">
    <%= render 'shared/application/container' %>
    <%= render 'layouts/shared/navbar' %>

    <main>
      <%= render 'shared/message/message' %>

      <%= yield %>
    </main>

  </body>
</html>
